html, body, div, canvas {
    margin: 0;
    padding: 0;
}

.btn {
  padding: 0px 0px;
  margin: 6px 3px;
  width: 30px;
  height: 30px;
  display: block ;
  z-index : 1;
  position:relative;
  font-size: 25px;
}

.btn2 {
  padding: 0px 0px;
  margin: 0px 0px;
  width: 30px;
  height: 30px;
  display: inline-block;
  float:left;
  z-index : 1;
  position:relative;
  font-size: 7px;
}


label.btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  color: black;
  padding: 0px 3px;
  width: 24px;
  height: 30px;
}

.color {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  padding: 0px 0px;
  margin: 3px 5px;
  border-style: solid;
  border-width: 1px;
}

.bkg {
  width: 30px;
  height: 30px;
  padding: 0px 0px;
  margin: 5px 3px;
  border-style: solid;
  border-width: 1px;
}

.slider {
  /*-webkit-appearance: none;  /* Override default CSS styles */
  /*appearance: none;*/
  /*position: relative!important;
  left: 0;
  top: -20px;*/
  width: 50px; /* Full-width */
  /*height: 10px;*/
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  color: black;
  padding: 0px 3px;
  width: 24px;
  height: 30px;
}


/* The dropdown container */
.dropdown {
  /*float: left;
  overflow: hidden;*/
  display: block;
}

/* Dropdown button */
/*.dropdown .dropbtn {
  font-size: 14px; 
  border: none;
  outline: none;
  padding: 17px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}
*/
/* Add a grey background color to navbar links on hover */
/*.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
}*/

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;

  /*position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;*/
}

.dropdown:hover .dropdown-content {display: inline;}
