html, body, div, canvas {
    margin: 0;
    padding: 0;
}


canvas {
  border:1px solid #ccc;
  position: absolute!important;                                                 
  left: 0!important;                                                 
  top: 0!important;                                                
  width: 100px;                                                 
  height: 100px;
}

span {
  margin: 0px 0px;
  font-size: 13px;
}
.btn {
  padding: 0px 0px;
  margin: 6px 3px;
  width: 30px;
  height: 30px;
  display: block ;
  z-index : 1;
  position:relative;
  font-size: 25px;
}

.btn2 {
  padding: 0px 0px;
  margin: 0px 0px;
  width: 30px;
  height: 30px;
  display: inline-block;
  float:left;
  z-index : 1;
  position:relative;
  font-size: 7px;
}

.btn2.first{ margin-left: 3px; }

label.btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  color: black;
  padding: 0px 3px;
  width: 24px;
  height: 30px;
}

.color {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  padding: 0px 0px;
  margin: 3px 5px;
  border-style: solid;
  border-width: 1px;
}

.black { background-color:black }
.red { background-color:red }
.green { background-color:green }
.blue { background-color:blue }
.yellow { background-color:yellow }
.white { background-color:white }

.bkg {
  border-style: solid;
  border-width: 1px;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  color: black;
  padding: 0px 3px;
  width: 24px;
  height: 30px;
}
